//colors
$color-background: #282c34;
$color-primary: rgba(255,255,255,0.88);
$color-secondary: rgb(136,136,136);


//spaces
$space-tiny: 10px;
$space-small: 15px;


//font-size
$font-primary: 1rem;
$font-small: 0.875rem;
$font-tiny: 0.75rem;