@import "_styles/variables.scss";
@import "_styles/mixins.scss";

.search-item {
  display: flex;
  flex-direction: column;
  width: 19.5%;
  margin-bottom: $space-small;
  //  border: 1px solid $color-secondary;
  background-color: black;
  cursor: pointer;

  &__description {
    @include flex-container(column, space-between, center);
    padding: 4px;

    &-title {
      overflow: hidden;
      margin-bottom: 0;
      font-size: $font-tiny;
      font-weight: bold;
    }

    &-channel {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
      font-size: $font-tiny;
      color: $color-secondary;
      font-weight: 600;
    }
  }
}
