@import "_styles/variables.scss";
@import "_styles/mixins.scss";

.playlist-item {
  display: flex;
  width: 100%;
  height: 50px;
  border: 1px solid $color-secondary;
  margin-bottom: 5px;
  padding-left: 4px;
  cursor: pointer;

  &__thumbnail {
    display: inline-block;
    height: 100%;
  }

  &__description {
    @include flex-container(column, center, center);
    font-size: $font-tiny;
    overflow: hidden;
    padding: 0 $space-tiny;

    &-title {
      color: $color-primary;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-channel {
      color: $color-secondary;
      margin-bottom: 0;
      font-weight: 600;
    }
  }

  &_active {
    border: 2px solid lime;
  }
}
