@import "_styles/variables.scss";
@import "_styles/mixins.scss";

.playlist-item {
  position: relative;
  display: flex;
  width: calc(100% - 20px);
  height: 46px;
  border: 1px solid $color-green; // #494;
  border-width: 1px 0px;
  background: $color-background-2;
  margin-bottom: 8px;
  box-shadow: 4px 5px 2px $color-dark;
  cursor: pointer;
  user-select: none;
  backface-visibility: hidden;

  &:hover {
    transform: scale(1.025, 1.1);
  }

  &__thumbnail {
    display: inline-block;
    height: 100%;
    border: 15px solid transparent;
    border-width: 0 10px 0 10px;
    box-sizing: content-box;
    padding: 1px 0;
    height: 42px;
  }
  &__description {
    @include flex-container(column, space-between, flex-start);
    position: relative;
    font-size: $font-tiny;
    overflow: hidden;
    padding: 2px $space-tiny;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 13%;
      height: 76%;
      background-color: lighten($color-background-2, 10%);
      width: 1px;
    }

    &-title {
      color: $color-primary;
      margin: 0;
      padding-right: $space-small;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-channel {
      width: 100%;
      color: $color-secondary;
      margin-bottom: 0;
      font-weight: 600;
    }
  }

  &__remove {
    @include flex-container(flex, center, center);
    position: absolute;
    height: 20px;
    width: 20px;
    top: 4px;
    right: 5px;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
      background-color: $color-red;
      box-shadow: 2px 2px 2px black;
      transform: scale(1.1);
    }
  }
  &__icon {
    height: 15px;
  }
  &_active {
    transition: 0.35s all;
    border: 1px solid $color-green-2;
    background: $color-green;
    border-width: 1px 0;
  }
}
@keyframes appear {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
