@import "_styles/variables.scss";
@import "_styles/mixins.scss";

.playlist {
  .menu {
    .icon-bar {
      width: 22px;
      height: 2px;
      background-color: $color-primary;
      display: block;
      transition: all 0.2s;
      margin-top: 4px;
    }

    .navbar-toggler {
      border: none;
      padding: 0;
      &:focus {
        outline: 0;
      }
      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      .middle-bar {
        opacity: 0;
      }
      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
      &.collapsed {
        .top-bar {
          transform: rotate(0);
        }
        .middle-bar {
          opacity: 1;
        }
        .bottom-bar {
          transform: rotate(0);
        }
      }
    }
  }

  &__list {
    @include flex-container(column, flex-start, center, nowrap);
    height: calc(100vh - 50px);
    overflow: auto;
    padding-top: $space-tiny;
    border: 1px solid $color-background-2;
    border-width: 0 1px;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: $color-dark;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-green;
    }
  }
}
